<!DOCTYPE html>
<html lang="en" th:insert="~{userbase :: Dheeraj(~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile PAge</title>
</head>
<body>
    <div id="content" class="pl-64 pt-20" style="height :1000px ">
       <!-- <div  th:replace=""></div>  -->
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-5xl ">Welcome to Dashboard Page</h1>
            <hr>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing accusamus. Similique velit dolorem non placeat nam?</p>
        </div>
        
    </div>
</body>
</html>
